.list-work__item {
    font-size: 1rem;
    line-height: 1.25rem;
    flex: 0 0 20%;
    padding: 1.75rem 1.6rem 1.6rem 1.4rem;
    position: relative
}

.list-work__item::before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-id);
    color: var(--primary);
    font-weight: 900;
    font-size: 8rem;
    line-height: 8rem;
    z-index: -1;
    opacity: 0.15;
}

.list-work__title {
    text-transform: uppercase;
    font-weight: 700
}

.list-work__text {
    padding-top: 1.75rem
}